body{
    font-family: 'Roboto', sans-serif;
    background-color: yellow;
}

/* navbar css starts here  */
.bg-light{
    background-color: #799e75!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #60758e!important;
}

.nav-link{
    color: #141515!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: yellowgreen;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(5, 14, 23)!important;
    color: rgb(203, 20, 20)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(219, 212, 15)!important;
}